{% extends 'base.html' %}

{% block title %}Customer Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
    .help-block {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <br />
            <h3>Customer Login Form</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary mt-3">Login</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p class="mt-3">Forgot Password?<a href="{% url 'passwordforgot' %}">Reset now.</a></p>
            <p> or dont have account? <a href="{% url 'customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here</a></p>
        </div>
    </div>
</div>
{% endblock %}