{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: rgb(255, 0, 0);
        font-weight: bolder;
        font-size: large;
    }   
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <br />
            <h3>Password Reset Form</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success">Get Reset Link</button>
            </form>
            <p class="mt-4">* Password reset link will be sent to your mail.</p>
        </div>
    </div>
</div>
{% endblock %}