{% extends 'admin/adminbase3.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <br />
            <div style="float: left;">
                <h3>Size List</h3>
            </div>
            <div style="float: right;"><a href="{% url 'addSize' %}" class="btn btn-success btn-sm">Add Size</a></div>
            <br />
        <hr class="mt-4">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>SN</th>
                    <th>Title</th>
                    <th style="text-align:center" >Action</th>
                </tr>
            </thead>
            <tbody>
                {% for size in sizes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{size.title}}</td>
                    <td style="text-align:center"><a href="{% url 'sizeUpdate' size.id %}" class="btn btn-warning mr-2 btn-sm"> EDIT </a>
                        <a href="{% url 'deletesize' size.id %}" onclick="return confirm('Are you sure you want to delete this size?')"
                            class="btn btn-danger btn-sm"> DELETE </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}