{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
    <!-- Featured Brands -->
    <h3 class="my-4 border-bottom pb-3">Brands</h3>
    <div class="row">
        {% if brands %}
        {% for brand in brands %}
        <div class="col-md-2 mb-4 mr-3 ml-3">
            <div class="card shadow" style="width: 12.5em;">
                <a href="/brand-product-list/{{brand.id}}"><img src="/media/{{brand.image}}" class="card-img-top"
                        style="width: 198px; height: 190px;" alt="{{brand.title}}" /></a>
                <div class="card-body">
                    <h6 class="card-text"><a href="#">{{brand.title}}</a></h6>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}